gateway/flows.json
[
  {
    "id": "tab_sos_gateway",
    "type": "tab",
    "label": "SOS Gateway",
    "disabled": false,
    "info": "HARDWARIO TOWER/Core SOS ingest + cloud sync"
  },
  {
    "id": "serial_in_1",
    "type": "serial in",
    "z": "tab_sos_gateway",
    "name": "UART SOS Input",
    "serial": "serial_cfg_1",
    "x": 140,
    "y": 120,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "json_parse_1",
    "type": "json",
    "z": "tab_sos_gateway",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 120,
    "wires": [["normalize_fn_1"]]
  },
  {
    "id": "normalize_fn_1",
    "type": "function",
    "z": "tab_sos_gateway",
    "name": "Normalize Payload",
    "func": "const p = msg.payload || {};\nmsg.payload = {\n  device_id: p.device_id || 'UNKNOWN',\n  type: (p.type || 'HEARTBEAT').toUpperCase(),\n  timestamp_ms: Number(p.timestamp || p.timestamp_ms || Date.now()),\n  temp_c: Number(p.temp ?? p.temp_c ?? 0),\n  accel_x_g: Number(p.accel_x ?? p.accel_x_g ?? 0),\n  accel_y_g: Number(p.accel_y ?? p.accel_y_g ?? 0),\n  accel_z_g: Number(p.accel_z ?? p.accel_z_g ?? 0),\n  raw_payload: JSON.stringify(p)\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 120,
    "wires": [["route_fn_1"]]
  },
  {
    "id": "route_fn_1",
    "type": "switch",
    "z": "tab_sos_gateway",
    "name": "SOS vs HEARTBEAT",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "SOS", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 740,
    "y": 120,
    "wires": [["sqlite_alert_1", "http_alert_1"], ["sqlite_hb_1", "http_hb_1"]]
  },
  {
    "id": "sqlite_alert_1",
    "type": "sqlite",
    "z": "tab_sos_gateway",
    "mydb": "sqlite_db_1",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Insert Alert",
    "x": 980,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "alert_sql_fn_1",
    "type": "function",
    "z": "tab_sos_gateway",
    "name": "Build Alert SQL",
    "func": "const p = msg.payload;\nconst esc = (v) => String(v).replace(/'/g, \"''\");\nmsg.topic = `INSERT INTO alerts (device_id, timestamp_ms, type, temp_c, accel_x_g, accel_y_g, accel_z_g, raw_payload, synced) VALUES ('${esc(p.device_id)}', ${p.timestamp_ms}, 'SOS', ${p.temp_c}, ${p.accel_x_g}, ${p.accel_y_g}, ${p.accel_z_g}, '${esc(p.raw_payload)}', 0);`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 40,
    "wires": [["sqlite_alert_1"]]
  },
  {
    "id": "sqlite_hb_1",
    "type": "sqlite",
    "z": "tab_sos_gateway",
    "mydb": "sqlite_db_1",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Insert Heartbeat",
    "x": 1000,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "hb_sql_fn_1",
    "type": "function",
    "z": "tab_sos_gateway",
    "name": "Build Heartbeat SQL",
    "func": "const p = msg.payload;\nconst esc = (v) => String(v).replace(/'/g, \"''\");\nmsg.topic = `INSERT INTO heartbeats (device_id, timestamp_ms, temp_c, accel_x_g, accel_y_g, accel_z_g, raw_payload, synced) VALUES ('${esc(p.device_id)}', ${p.timestamp_ms}, ${p.temp_c}, ${p.accel_x_g}, ${p.accel_y_g}, ${p.accel_z_g}, '${esc(p.raw_payload)}', 0);`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 220,
    "wires": [["sqlite_hb_1"]]
  },
  {
    "id": "http_alert_1",
    "type": "http request",
    "z": "tab_sos_gateway",
    "name": "POST Cloud Alert",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://backend:5000/api/alerts",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 980,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "http_hb_1",
    "type": "http request",
    "z": "tab_sos_gateway",
    "name": "POST Cloud Heartbeat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://backend:5000/api/heartbeats",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1010,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "wire_alert_sql_1",
    "type": "link out",
    "z": "tab_sos_gateway",
    "name": "alert_sql_link_out",
    "mode": "link",
    "links": ["wire_alert_sql_2"],
    "x": 895,
    "y": 40,
    "wires": []
  },
  {
    "id": "wire_alert_sql_2",
    "type": "link in",
    "z": "tab_sos_gateway",
    "name": "alert_sql_link_in",
    "links": ["wire_alert_sql_1"],
    "x": 845,
    "y": 40,
    "wires": [["alert_sql_fn_1"]]
  },
  {
    "id": "wire_hb_sql_1",
    "type": "link out",
    "z": "tab_sos_gateway",
    "name": "hb_sql_link_out",
    "mode": "link",
    "links": ["wire_hb_sql_2"],
    "x": 895,
    "y": 220,
    "wires": []
  },
  {
    "id": "wire_hb_sql_2",
    "type": "link in",
    "z": "tab_sos_gateway",
    "name": "hb_sql_link_in",
    "links": ["wire_hb_sql_1"],
    "x": 845,
    "y": 220,
    "wires": [["hb_sql_fn_1"]]
  },
  {
    "id": "serial_cfg_1",
    "type": "serial-port",
    "serialport": "/dev/ttyUSB0",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "\\n",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "sqlite_db_1",
    "type": "sqlitedb",
    "db": "/data/gateway.db",
    "mode": "RWC"
  }
]
